@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
}

.nav-img{
    display: flex;
    min-width: 55px;
    justify-content: center;
}

.nav-img img{
    height: 35px;
    width: 35px;
    border-radius: 20%;
    object-fit: cover;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #fff;
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
    padding: 15px 10px;
}

.flex{
    display: flex;
    align-items: center;
}

.logo-items{
    gap: 8px;
    font-size: 22px;
    color: #333;
    font-weight: 500;    
}

#lock-btn, 
#close-btn{
    padding: 10px;
    color: #2e2e2e;
    font-size: 25px;
    cursor: pointer;
    margin-left: 4px;
}

#close-btn{
    color: #333;
    display: none;
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100% - 82px);
}

.menu-container::-webkit-scrollbar{
    display: none;

}

.menu-title{
    position: relative;
    height: 50px;
    width: 55px;
}

.menu-title .title{
    margin-left: 15px;
}

.menu-title .line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    background: #aaa;
    opacity: 0;
}

.link{
    margin-bottom: 8px;
    border-radius: 8px;
    color: #707070;
}

.link:hover{
    background: #2e2e2f;
    color: #fff;
}

.link i{
    height: 50px;
    min-width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-profile{
    padding-top: 15px;
    margin-top: 15px;
    gap: 15px;
    border-top: 2px solid rgba(0,0,0,0.1);
}

.sidebar-profile .name{
    font-size: 18px;
    color: #333;
}

.sidebar-profile .email {
    font-size: 15px;
    color: #333;
}


/* Navbar for style */
.navbar{
    max-width: 500px;
    margin: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 60%;
    background: #fff;
    transition: translateX(-50%);
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: space-between;
}

#sidebarOpen{
    font-size: 30px;
    color: #333;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.search-box{
    height: 46px;
    max-width: 450px;
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
}